<div class="row">
  <div class="col-md-12 pt-3">
    <h2>最新課程</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 pb-3">
    <hr/>
  </div>
</div>
<% if @courses.present? %>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
    <% @courses.each do |course| %>
      <div class="col">
        <div class="card">
          <img src="https://fakeimg.pl/300x200/ccc">
          <div class="card-body">
            <h5><%= course.title %></h5>
            <p class="card-text"><%= course.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to('檢視', course_path(course), class: 'btn btn-sm btn-outline-dark') %>
              </div>
              <small class="text-muted"><%= "By #{course.user.name}" if course.user.name.present? %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12 pb-3">
      <span>目前尚無課程</span>
    </div>
  </div>
<% end %>
