<div class="row">
  <div class="col-md-12 pt-3">
    <h2>修改課程</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 pb-3">
    <hr/>
  </div>
</div>
<%= render 'form', course: @course %>
<div class="row">
  <div class="col-md-12 pb-3">
    <%= link_to '返回課程列表頁', courses_path, class: 'btn btn-outline-dark' %>
  </div>
</div>